@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&family=Roboto&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}
.header {
    height: 78px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .container {
        height: 100%;
        display: flex;
        .left-content {
            display: flex;
            align-items: center;
            height: 100%;
            i {
                font-size: 26px;
                font-weight: bold;
                margin-right: 12px;
                color: #969495;
                cursor: pointer;
            }
            img {
                width: 90%;
                height: auto;
                object-fit: cover;
            }
        }

        .center-content {
            height: 100%;
            display: flex;
            align-items: center;
            top: 100%;
            left: 0;
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                height: 100%;
                margin-bottom: 0;
                li {
                    button {
                        padding: 8px 10px;
                        outline: none;
                        border: none;
                        margin-right: 4px;
                        border-radius: 10px;
                        font-size: 18px;
                        color: #000;
                        background-color: transparent;
                        &.active {
                            background-color: #ffc419;
                        }
                    }
                }
            }
            input {
                padding: 8px 34px;
                font-size: 16px;
                outline: none;
                border: 1px solid #ccc;
                border-radius: 12px;
                flex-grow: 1;
                color: #000;
            }
        }
        .right-content {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            i {
                width: 20px;
                height: 20px;
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius: 50%;
                background-color: #ccc;
                margin-right: 4px;
            }
            span {
                font-size: 16px;
                font-weight: bold;
            }
            .language {
                flex-grow: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                span {
                    margin: 0 4px;
                    padding: 8px;
                    cursor: pointer;
                    &.active {
                        background-color: #ccc;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.banner {
    background-color: rgb(146, 215, 238);
    padding: 24px 0;
    .container {
        display: flex;
        flex-direction: column;
        .title {
            text-transform: uppercase;
            color: #fff;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            font-weight: 300;
        }
        .sub-title {
            text-transform: uppercase;
            color: #fff;
            font-weight: bold;
            text-align: center;
        }
        .list-category {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 16px;
                .category-image {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 30px;
                        height: auto;
                    }
                }
                span {
                    font-weight: bold;
                    text-wrap: wrap;
                    margin-top: 12px;
                }
            }
        }
    }
}

.info {
    margin-top: 18px;
    .content-title {
        font-size: 28px;
        text-align: start;
    }
}
